@using System.Security.Claims
@using CompozeData.Services
@{
    bool darkMode = false;
    string color = "#1c0766";
    @if(User.Identity.IsAuthenticated)
    {
        string userId = User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        darkMode = ViewBag.Dal.DoesUserUseDarkMode(userId);
        color = ViewBag.Dal.GetUser(userId).CustomColor;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompozeElectron</title>
    <script src="https://kit.fontawesome.com/4a6c085fe1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @if(darkMode == true)
    {
        <link rel="stylesheet" href="~/css/darkmode.css" asp-append-version="true" />
    }
</head>
<body>
    <header class="recolor-bg recolor-border">
        <div class="navbar nav-dark recolor-bg">
            <div class="item-holder recolor-bg">
                <p class="nav-title"><a asp-area="" asp-controller="Home" asp-action="Index">Compoze</a></p>
                @if(User.Identity.IsAuthenticated)
                {
                    <p class="recolor-bg nav-item active"><a asp-area="" asp-controller="UserInfo" asp-action="Dashboard">Dashboard</a></p>
                    <p class="recolor-bg nav-item"><a asp-area="" asp-controller="UserInfo" asp-action="UserSettings">Settings</a></p>
                    <p class="recolor-bg nav-item"><a asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a></p>
                } else {
                    <p class="recolor-bg nav-item active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></p>
                    <p class="recolor-bg nav-item"><a asp-area="" asp-controller="Account" asp-action="Login">Log In</a></p>
                }
            </div>
            <a href="javascript:void(0);" class="nav-icon">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
    <footer class="border-top footer text-muted recolor-bg">
        <div class="container">
            Copyright&copy; Ethan Calabrese 2022
        </div>
    </footer>
    <script>
        let recols = document.getElementsByClassName("recolor-bg");
        for(let r of recols) {
            r.style.backgroundColor = "@color";
        }

        recols = document.getElementsByClassName("fancybutton");
        for(let r of recols) {
            r.style.backgroundColor = "@color";
        }

        recols = document.getElementsByClassName("recolor-border");
        for(let r of recols) {
            r.style.borderColor = "@color";
        }
    </script>
</html>
