@using CompozeData.Models
@{
    Project project = ViewBag.ThisProject;
    ProjectListViewModel model = ViewBag.ProjectListModel;
    List<Document> documents = ViewBag.DocumentListModel.Documents;
    List<Template> templates = ViewBag.TemplateListModel.Templates;
    ViewData["Title"] = project.ProjectName;
}

<div class="background-l-grey stack-sm row mt-2">
    @Html.Partial("_ProjectList", model)
    <div class="col-9 border-round background-lighter dashboard-box">
        <h2 class="center-x">@ViewData["Title"]</h2>
        <div class="p-0 stack">
            <form class="w-60 m-auto" asp-controller="UserInfo" asp-action="EditProject" method="post">
                <div class="stack">
                    <input type="hidden" value="@project.ProjectId" name="projectId"/>
                    <input type="hidden" value="@project.UserId" name="userId"/>
                    <input type="hidden" value="@project.Categories" name="categories"/>
                    <div class="row space-between center-y">
                        <label for="projectName">Project Name: </label>
                        <input type="text" value="@project.ProjectName" name="projectName" id="projectName">
                    </div>
                    <div class="row space-between center-y">
                        <label for="authorName">Author Name: </label>
                        <input type="text" value="@project.AuthorName" name="authorName" id="authorName">
                    </div>
                    <div class="row space-between center-y">
                        <label for="projectGenre">Genre: </label>
                        <input type="text" value="@project.ProjectGenre" name="projectGenre" id="projectGenre">
                    </div>
                    <div class="row space-between center-y">
                        <label for="documentLayout">Project Layout: </label>
                        <select name="documentLayout" value="@project.DocumentLayout" id="documentLayout" class="w-50">
                            <option value="Chapters">Chapters</option>
                            <option value="Scenes">Scenes</option>
                            <option value="Connected">Connected</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Update" class="mt-2 mb-1" />
            </form>
            <form class="w-60 m-auto" asp-controller="UserInfo" asp-action="DeleteProject" method="post">
                <h2>Warning</h2>
                <p>Clicking this button will delete your project.</p>
                <input type="hidden" value="@project.ProjectId" name="projId"/>
                <input class="button-red" type="submit" value="Delete" class="mt-2 mb-1" />
            </form>
        </div>
        @if(project.Categories != null && project.Categories != "")
        {
            @foreach(string cat in project.Categories.Split("[=]"))
            {
                <div class="border-all">
                    <h3>@cat</h3>
                    @if(documents.Count > 0)
                    {
                        <div class="grid-3x3">
                            @foreach(Document doc in documents)
                            {
                                if(doc.DocumentCategory == cat)
                                {
                                    <div class="square border-all">
                                        <p><strong><a href="~/UserInfo/Document/@doc.DocumentId">@doc.DocumentName</a></strong></p>
                                    </div>
                                }
                            }
                        </div>
                    }
                    <div class="button-main px-2 mx-5" onclick="openModalWithCategoryName('newdoc-modal', '@cat')">New Document</div>
                </div>
            }
            <div class="button-main px-2 mx-5" onclick="openModal('newcat-modal')">New Category</div>
        } else {
            <div class="border-all">
                <h3>No sections found</h3>
                <p>Create a section to start writing.</p>
                <div class="button-main px-2 mx-5" onclick="openModal('newcat-modal')">New Category</div>
            </div>
        }
    </div>
</div>

<div id="newcat-modal" class="modal m-middle">
    <div class="modal-content">
        <span class="x-button close" onclick="closeModal('newcat-modal')">X</span>
        <h3 class="border-bottom">New Category</h3>
        <form class="border-none m-auto mt-2" method="post" asp-controller="UserInfo" asp-action="CreateCategory">
            <input type="hidden" value="@project.ProjectId" name="projectId" />
            <label for="category" class="m-auto">Category Name: </label>
            <input type="text" name="category" />
            <input type="submit" value="Create" class="mt-2 mb-1" />
        </form>
    </div>
</div>

<div id="newdoc-modal" class="modal m-middle">
    <div class="modal-content">
        <span class="x-button close" onclick="closeModal('newdoc-modal')">X</span>
        <h3 class="border-bottom">New Document</h3>
        <form class="border-none m-auto mt-2" method="post" asp-controller="UserInfo" asp-action="CreateDocument">
            <input type="hidden" value="@project.ProjectId" name="projectId" />
            <input type="hidden" value="" name="category" id="docCategory" />
            <label for="docName" class="m-auto">Title: </label>
            <input type="text" name="docName" />
            <label for="template" class="m-auto">Template: </label>
            <select name="template" value="None" id="template" class="w-50">
                <option value="None">None</option>
                @foreach(Template t in templates)
                {
                    <option value="@t.TemplateId">@t.TemplateName</option>
                }
            </select>
            <input type="submit" value="Create" class="mt-2 mb-1" />
        </form>
    </div>
</div>