@using CompozeData.Models
@{
    Project project = ViewBag.ThisProject;
    ProjectListViewModel model = ViewBag.ProjectListModel;
    List<Document> documents = ViewBag.DocumentListModel.Documents;
    ViewData["Title"] = project.ProjectName;
}

<div class="background-l-grey stack-sm row mt-2">
    @Html.Partial("_ProjectList", model)
    <div class="col-9 border-round background-lighter dashboard-box">
        <h2 class="center-x">@ViewData["Title"]</h2>
        <div>
            <form class="w-90 m-auto" asp-controller="UserInfo" asp-action="EditProject" method="post">
                <div class="stack">
                    <input type="hidden" value="@project.ProjectId" name="projectId"/>
                    <input type="hidden" value="@project.UserId" name="userId"/>
                    <input type="hidden" value="@project.Categories" name="categories"/>
                    <div class="row space-between center-y">
                        <label for="projectName">Project Name: </label>
                        <input type="text" value="@project.ProjectName" name="projectName" id="projectName">
                    </div>
                    <div class="row space-between center-y">
                        <label for="authorName">Author Name: </label>
                        <input type="text" value="@project.AuthorName" name="authorName" id="authorName">
                    </div>
                    <div class="row space-between center-y">
                        <label for="projectGenre">Genre: </label>
                        <input type="text" value="@project.ProjectGenre" name="projectGenre" id="projectGenre">
                    </div>
                    <div class="row space-between center-y">
                        <label for="documentLayout">Project Layout: </label>
                        <select name="documentLayout" value="@project.DocumentLayout" id="documentLayout" class="w-50">
                            <option value="Chapters">Chapters</option>
                            <option value="Scenes">Scenes</option>
                            <option value="Connected">Connected</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Update" class="mt-2 mb-1" />
            </form>
            <form class="w-90 m-auto mt-2" asp-controller="UserInfo" asp-action="DeleteProject" method="post">
                <h2>Warning</h2>
                <p>Clicking this button will delete your project.</p>
                <input type="hidden" value="@project.ProjectId" name="projId"/>
                <input class="button-red" type="submit" value="Delete" class="mt-2 mb-1" />
            </form>
        </div>
        @if(project.Categories != null && project.Categories != "")
        {
            @foreach(string cat in project.Categories.Split(" "))
            {
                <div class="border-all border-round w-90">
                    <h3>@cat</h3>
                    @if(documents.Count > 0)
                    {
                        @foreach(Document doc in documents)
                        {
                            if(doc.DocumentContent.Split("====")[0] == cat)
                            {
                                <div class="square">
                                    <p>@doc.DocumentName</p>
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
        <div class="button-main px-2 mx-2" onclick="openModal('newcat-modal')">New Category</div>
    </div>
</div>

<div id="newcat-modal" class="modal m-middle">
    <div class="modal-content">
        <span class="x-button close" onclick="closeModal('newcat-modal')">X</span>
        <h3 class="border-bottom">New Category</h3>
        <form class="border-none m-auto mt-2" method="post" asp-controller="UserInfo" asp-action="CreateCategory">
            <input type="hidden" value="@project.ProjectId" name="projectId" />
            <label for="category" class="m-auto">Category Name: </label>
            <input type="text" name="category" />
            <input type="submit" value="Create" class="mt-2 mb-1" />
        </form>
    </div>
</div>